{% extends 'layouts/base.html' %}
{% block title %}Home - {{ block.super }}{% endblock %}
{% block content %}
    <h1>Project Four</h1>
    <p>Select a state to see a list of legislators from that state.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
    {% if legislator_list %}
    <ul>
        <p>Click on a link to see who contributed to the legislator's 2016 campaign</p>
        {% for legislator in legislator_list %}
            <li><a href="{% url 'members:member_detail' legislator.candidate_id legislator.votesmart_id %}">{{ legislator }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}  