{% extends 'layouts/base.html' %}
{% block title %}Member Detail - {{ block.super }}{% endblock %}
{% block content %}
    <h1>{{ candidate_name }}</h1>
    {% if contributors_list %}
    <h2>2016 Contributors</h2>
    <h3>These organizations donated to {{ candidate_name }} in 2016</h3>
        <table>
            <tr>
                <th>Contributor</th>
                <th>Total Contributed</th>
                <th>PAC Contributions</th>
                <th>Individual Contributions</th>
            </tr>
        
            {% for contributor in contributors_list %}
                <tr>
                    <td>{{ contributor }}</td>
                    <td>${{ contributor.total_contributed }}</td>
                    <td>${{ contributor.pac_contributions }}</td>
                    <td>${{ contributor.individual_contributions }}</td>
                </tr>
            {% endfor %}
        </table>
        
    {% else %}
        <p>No contributor details available</p>
    {% endif %}
     <h2>Ratings</h2>
    {% if good_ratings_list %}
    <h3>These organizations gave {{ candidate_name }} a grade of B or higher in 2015-2016.</h3>
    <ul>
        {% for rating in good_ratings_list %}
            <li>{{ rating }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No ratings info available</p>
    {% endif %}
    {% if bad_ratings_list %}
    <h3>These organizations gave {{ candidate_name }} a grade of D or lower in 2015-2016.</h3>
    <ul>
        {% for rating in bad_ratings_list %}
            <li>{{ rating }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No ratings info available</p>
    {% endif %}
    <h2>Recent NPR Stories</h2>
    {% if npr_story_list %}
    <h3>NPR recently aired these stories about {{ candidate_name }}</h3>
    <ul>
        {% for story in npr_story_list %}
            <li><a href="{{ story.url}}">{{ story }}</a></li>
        {% endfor %}        
    </ul>
    {% else %}
        <p>No recent stories available</p>
    {% endif %}        
{% endblock %}  