{% extends 'layouts/base.html' %}
{% block title %}Member Detail - {{ block.super }}{% endblock %}
{% block content %}
    <h1>Member Detail</h1>
    {% if contributors_list %}
    <h2>Contributors</h2>
        <ul>
        {% for contributor in contributors_list %}
            <li>{{ contributor }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No contributor details available</p>
    {% endif %}
    {% if ratings_list %}
    <h2>Ratings</h2>
    <ul>
        {% for rating in ratings_list %}
            <li>{{ rating }}</li>
        {% endfor %}
    </ul>    
    {% else %}
        <p>No ratings info available</p>
    {% endif %}
{% endblock %}  